h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
}

.ghost {
  background-color: gray;
}

.food {
  background-color: red;
}

#score {
  padding-right: 20px;
}

#scoreBoard {
  text-align: right;
  color: maroon;
  font-size: 25px;
  line-height: 0;
}

#gameOver {
  display: none;
  text-align: center;
}

#gameBoard {
  display: block;
}
